.page-header {
    background-color: #ACEBFA;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.inline div{
    display:inline-block;
    /**display: inline;*/
}


.page-header h1, .page-header h1 a {
    color: #082571;
    font-size: 36pt;
    text-decoration: none;
}

.login {
    color: #24298F;
    font-size: 14pt;
    /*float: left;*/
    /*margin-top: -40px;*/
}

.logout {
    color: #24298F;
    font-size: 14pt;
    /*float: left;*/
    /*margin-top: -40px;*/

}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 14pt;
}

.menu {
     margin-left: 40px;
}
