{% load static %}

<html>
    <head>
        <title>Django blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/my_blog.css' %}">
    </head>

    <body>
      <div class="page-header inline">
          <h1><a href="/">Django blog</a></h1>
          {% if user.is_authenticated %}
              <div class="logout">
                  <p>Hi {{user.username }}</p>
                  <p> <a href="{% url 'logout' %}">logout</a></p>
                  <p class="menu"> <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> </p>
              </div>
          {% else %}
              <div class="login">
                  <p>You are not logged in.</p>
                  <p><a href="{% url 'login' %}">login</a></p>
              </div>
          {% endif %}

        </div>

        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
