{% extends 'base.html' %}

{% block content %}
        {% for post in object_list %}
            <div class="post-entry">
                <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a> </h2>
                <p>{{ post.body }} </p>
                <a href="{% url 'post_edit' post.pk%}"> Edit Blog Post</a>
            </div>
        {% endfor %}
{% endblock content %}
