{% extends 'base.html' %}


{% block content %}
  <h1 style="font-size: 20px">  Delete post  </h1>

    <form action="" method="post">{% csrf_token %}
        <p>Are you sure "{{ post.title }}" ?</p>
         <input type="submit" value="Confirm"/>
    </form>
{% endblock content %}