{% extends 'base.html' %}


{% block content %}
  <h1 style="font-size: 45px">  Edit post </h1>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Save"/>
    </form>
{% endblock content %}