{% extends 'base.html' %}


{% block content %}
{#  <h2 style="font-size: 15px"></h2>#}

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
     <button type="submit">login</button>
    </form>
{% endblock content %}